<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectroMods.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectroMods.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElectroMods.Settings>
            <setting name="ElectronautsSteamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsModded" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordUserId" serializeAs="String">
                <value />
            </setting>
        </ElectroMods.Settings>
    </userSettings>
    <applicationSettings>
        <ElectroMods.Settings>
            <setting name="DiscordClientSecret" serializeAs="String">
                <value>yDrcAPd0b12aNduO1t_BIeQJ8dFY_hb-</value>
            </setting>
        </ElectroMods.Settings>
    </applicationSettings>
</configuration>